.backed-by-section {
    margin-top: 180px;

    &__title {
        position: relative;
    }

    &__title::before {
        content: "";
        background-image: url(../img/Underline_6.svg);
        width: 337px;
        height: 29px;
        position: absolute;
        left: 51%;
        top: 47px;
        transform: translate(-50%);
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__funders {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 38px;
    }

    &__authors {
        display: flex;
        gap: 28px;
        justify-content: center;
        margin-top: 31px;
    }

    &__authors-item {
        padding: 8px 24px;
        border: 2px solid rgba($color: #fff, $alpha: 0.15);
        border-radius: 12px;
        width: fit-content;
    }

    &__author {
        font-size: 18px;
        line-height: 32px;
    }
}



@media screen and (min-width: 768px) and (max-width:1119px) {
    .backed-by-section {
        margin-top: 120px;

        &__title::before {
            width: 267px;
            height: 23px;
            top: 27px;
        }

        &__funder-logo {
            width: 100%;  /* зайняти всю доступну ширину в колонці */
            max-height: 46px;
            height: auto;  /* зберегти пропорції */
            object-fit: contain;  /* збереження пропорцій */
        }

        &__funder-logo:nth-child(3){
            height: 38px;
            width: auto;
        }

        &__funders {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 41px;
            width: 736px;
            height: 46px;
            margin-top: 52px;         
            padding: 0;
        }

        &__authors {
            gap: 20px;
            margin-top: 28px;
        }
    
        &__authors-item {
            padding: 6px 18px;
        }
    
        &__author {
            font-size: 14px;
            line-height: 24px;
        }

        
    }
}



@media screen and (max-width:767px) {
    .backed-by-section {
        margin-top: 80px;
        
        &__title::before {
            width: 186px;
            height: 23px;
            top: 17px;
            left: 53%;
        }

        &__funders {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 32px;         
            padding: 0;
        }

        &__funder-logo {

            max-height: 46px;
            height: auto;  /* зберегти пропорції */
            object-fit: contain;  /* збереження пропорцій */
        }

        &__funder-logo:nth-child(1){
            order: 1;
        }

        &__funder-logo:nth-child(2){
            order: 2;
        }

        &__funder-logo:nth-child(3){
            order: 4;
        }

        &__funder-logo:nth-child(4){
            height: 25px;
            order: 3;
        }

        &__funder-logo:nth-child(5){
            height: 30px;
            order: 5;
        }




        &__authors {
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 36px;
        }
    
        &__authors-item {
            padding: 7px 18px;
        }

        &__authors-item:nth-child(1) {order: 1;}
        &__authors-item:nth-child(3) {order: 2;}
        &__authors-item:nth-child(2) {order: 3;}
    
        &__author {
            font-size: 14px;
            line-height: 24px;
        }
    }
}