.get-inspired-section{
    margin-top: 156px;
    &__container_bg{
        background: linear-gradient(135deg, #A96BF7, #3103B5);
        padding-top: 52px;
        padding-left: 70px;
        padding-bottom: 70px;
        border-radius: 24px;
        position: relative;
    }
    &__container_bg::after{
        content: "";
        background-image: url(../img/get-inspired-section__pattern.svg);
        position: absolute;
        width: 246px;
        height: 418px;
        right: 0px;
        top: 0px;
    }
    &__title{
        font-size: 40px;
        line-height: 72px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    &__description{
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        width: 817px;
        display: inline-block;
    }
    &__btn-group{
        margin-top: 44px;
        display: flex;
        gap: 24px;
    }
    &__button{
        padding: 16px 40px;
        background-color: rgb(255, 255, 255, 0.15);
        font-size: 20px;
        line-height: 36px;
    }
}




@media screen and (min-width: 768px) and (max-width:1119px) {
    .get-inspired-section{
        margin-top: 110px;
        &__title{
            font-size: 36px;
            line-height: 60px;

            margin-bottom: 8px;
        }
        &__description{
            font-size: 18px;
            line-height: 28px;
            width: 640px;
            display: inline-block;
        }

        &__btn-group{
            margin-top: 40px;
        }

        &__button{
            padding: 12px 32px;
            font-size: 18px;
            line-height: 36px;
        }

        &__container_bg{
            padding-top: 36px;
            padding-left: 52px;
            padding-bottom: 52px;
        }
    }
}




@media screen and (max-width:767px) {
    .get-inspired-section{
        margin-top: 68px;

        &__title{
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 8px;
        }
        &__description{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.3px;
            width: 100%;
        }

        &__btn-group{
            margin-top: 28px;
            flex-direction: column;
            gap: 12px;
        }

        &__button{
            padding: 8px;
            font-size: 15px;
            line-height: 32px;
            border-radius: 12px;
        }

        &__container_bg{
            padding: 16px;
            border-radius: 12px;
        }
    }
}